* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    background-color: brown;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.buttons {
    margin: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#notesButton {
    background-color: green;
    border-radius: 20%;
    margin: 2% 0 2% 0;
    width: 30%;
    text-align: center;
}

#alertButton {
    background-color: yellow;
    border-radius: 20%;
    margin: 2% 0 2% 0;
    width: 30%;
    text-align: center;
}

#manageButton {
    background-color: red;
    border-radius: 20%;
    margin: 2% 0 2% 0;
    width: 30%;
    text-align: center;
}

.footer {
    background-color: black;
    height: 10%;
    margin-top: 25%;
    text-align: center;
}

.autor {

}