* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: #f9f9fb;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    min-height: 100vh;
}

.buttons {
    margin: 2%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#notesButton {
    background-color: green;
    border-radius: 5px;
    margin: 2% 0 2% 0;
    text-align: center;
}

#alertButton {
    background-color: yellow;
    border-radius: 5px;
    margin: 2% 0 2% 0;
    text-align: center;
}

#manageButton {
    background-color: red;
    border-radius: 5px;
    margin: 2% 0 2% 0;
    text-align: center;
}

.footer {
    background-color: black;
    height: 10%;
    margin-top: 25%;
    text-align: center;
}

.autor {

}